<div id="cover" class="page">
    <div class="pic">
        <img src="/assets/cover.jpg" />
    </div>
    <div class="main">
        <div class="btns">
            <div class="btn reg">
                <a href="JavaScript:void(0);" routerLink="/register">注册账号</a>
            </div>
            <div class="btn login">
                <a href="JavaScript:void(0);" routerLink="/login">已有账号</a>
            </div>
        </div>
        <div class="tips">
            <a href="JavaScript:void(0);">找回密码</a>
        </div>
    </div>

    <div class="other">
        <div class="title">
            <span class="txt">第三方媒体登录</span>
        </div>
        <div class="btns type2">
            <div class="btn qq">
                <a href="JavaScript:void(0);"></a>
            </div>
            <div class="btn wx">
                <a href="JavaScript:void(0);"></a>
            </div>
            <div class="btn wb">
                <a href="JavaScript:void(0);"></a>
            </div>
        </div>
    </div>
</div>