<div id="login" class="page">
    <div class="title">
        <div class="txt">用户登录</div>
        <div class="btns">
            <div class="btn back" (click)="goBack()">
                <a href="JavaScript:void(0);"></a>
            </div>
        </div>
    </div>

    <div class="inputs">
        <div class="input reg">
            <span class="ico phone"></span>
            <input type="text" placeholder="手机号码" />
        </div>
        <div class="input login">
            <span class="ico password"></span>
            <input type="password" placeholder="密码" />
        </div>
        <div class="btn login">
            <a href="JavaScript:void(0);">登录</a>
        </div>
    </div>

</div>