<div class="information">
	<div class="baby">		
		<p class="p1">孩子信息</p>
		<div class="select">
			<span class="img1"></span>
				<select>
					<option>男宝</option>
					<option>女宝</option>
				</select>
		</div>
		<div class="day">
			<span class="img2"></span>
			<input type="text" name="" class="date" value="" placeholder="出生日期(预产期)"/>
		</div>
		
		<p class="p2">二孩信息</p>
		<div class="select">
			<span class="img1"></span>
				<select>
					<option>男宝</option>
					<option>女宝</option>
				</select>
		</div>
		<div class="day">
			<span class="img2"></span>
			<input type="text" name="" class="date" value="" placeholder="出生日期(预产期)"/>
		</div>

		<input type="button" name="" class="btn" value="确认信息" />
	</div>
</div>